.space{
    height: 100px;
    background-image: url(../pictures/background\ for\ other\ страницы\ В\).svg);   
}

h1{
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

.tests{
    height: 540px;
    background-color: #DDAAAA;
    padding-left: 140px;
    
}
.tests img{
    margin: 60px;
}

.tests a{
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: color 0.2s;
}

h2{
    margin-left: 45px;
    margin-top: -30px;
    font-size: 27px;
    
}
.tests a:hover{
    color: #774949;
}

#trainer{
    margin-left: 74px;
}

#chupik{
    margin-left: 96px;
}

